.location-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.image-container {
    margin-bottom: 40px;
    font-size: x-large;
}

.location-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    width: 50;

    
}

.info-img {
    height: 70px;
}

.info-img-wind {
    width: 70px;
}